* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7ADFFF;
}

.container {
    max-width: 1200px;
    min-height: 800px;
    margin: 72px auto;
}

.box {
    width: 100px;
    background-color: white;
    height: 269px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}





/* Big Screen Media Query */
@media screen and (width>1200px) {
    
}

/* Big Screen Media Query */
@media screen and (width < 1200px) and (width > 450px) {

}

@media screen and (width<450px) {

}