* {
    margin: 0;
    padding: 0;
}

.glyphicon {
    font-size: 30px;
    color: #61122f;
}

.center {
    width: 90%;
    background-color: grey;
}

h2 {
    text-align: center;
}

#myNavbar ul li a {
    color: #61122F;
    text-align: center;
    width: 100%;
    display: block;
}

.navbar-brand {
    font-size: 30px;
}

.container {
    background-color: grey;
}

.text-center {
    font-size: 30px;
    text-align: center;
}

.navbar {
    border: none;
    background-color: #527CD0;
    color: #61122F;
}

body {
    background-color: #027c63;
    color: white;
}

.navbar-collapse {
    text-align: center;
}

/* Add styles for menu items */
#myNavbar ul li {
    border: 2.0px solid #000000;
    background-color: #027c63;
}

#myNavbar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#myNavbar ul li a:hover {
    background-color: #61122F;
}
